<p> <%= @user.name %> <br>
 <%= @user.email %> </p>
 <p> <%= @user.about %> </p>

#This should only appear if you are logged in
<p><%= link_to "Edit", edit_user_path(@user) %>

<%= link_to "Back", users_path %> </p>