<html>

        <%= render "layouts/navbar" %>
            <!-- Collect the nav links, forms, and other content for toggling -->

    <!-- Header -->
<%= stylesheet_link_tag "users" %>
    <header>
<script>
function vouch(val) {
    var qty = document.getElementById('qty').value;
    var new_qty = parseInt(qty,10) + val;
    
    if (new_qty < 0) {
        new_qty = 0;
    }
    
    document.getElementById('qty').value = new_qty;
    return new_qty;
}

function vouch1(val1) {
    var qty1 = document.getElementById('qty1').value;
    var new_qty1 = parseInt(qty1,10) + val1;
    
    if (new_qty1 < 0) {
        new_qty1 = 0;
    }
    
    document.getElementById('qty1').value = new_qty1;
    return new_qty1;
}

function vouch2(val2) {
    var qty2 = document.getElementById('qty2').value;
    var new_qty2 = parseInt(qty2,10) + val2;
    
    if (new_qty2 < 0) {
        new_qty2 = 0;
    }
    
    document.getElementById('qty2').value = new_qty2;
    return new_qty2;
}
</script>

        <div class="container">

                    <%=image_tag('SallyFreshademon.jpeg')%>
                    <div class="intro-text">
                        <span class="name"><%= @user.first_name %> <%= @user.last_name %></span>
                        <hr>
                        <p> Short description, Major/Year/Job? etc........ </p>
                    </div>
                
           
        </div>
    </header>
<body>
<center>

 <!-- Skill Grid Section -->
    <section id="skillz">
                    <h2>skills</h2>
                    <hr>
<table>
<tr>
<td>
    <div class="box">    
        <label for="qty"><abbr title="Quantity">Photoshop</abbr></label>
        <input id="qty" value="0" />

        <button id="up" onclick="vouch(1)">Vouch</button>
    </div>
</td>

<td>
    <div class="box">    
        <label for="qty1"><abbr title="Quantity1">Acting</abbr></label>
        <input id="qty1" value="0" />

        <button id="up" onclick="vouch1(1)">Vouch</button>
    </div>
</td>

<td>
    <div class="box">    
        <label for="qty2"><abbr title="Quantity2">Singing</abbr></label>
        <input id="qty2" value="0" />

        <button id="up" onclick="vouch2(1)">Vouch</button>
    </div>
</td>

</tr>
</table>
    
 <!--                 <span class="skillBtn"> Photoshop </span>
                     <span class="skillBtn"> Singing </span>
                     <span class="skillBtn"> Acting </span>
-->


    </section>




    <!-- projects section -->

    <section id="projects">
        <div class="container">
            
                    <h2>Projects</h2>
                    <hr>
                </div>
            </div>

    <table>
    <tr>
    <td>               
     <div class="project-list">

        <a href="#" class="projects-link">
            <img src="http://placehold.it/350x150" alt="">
             </a>
    </div>
    </td>
    <td>
     <div class="project-list">
            <a href="#" class="projects-link">
            <img src="http://placehold.it/350x150" alt="">
            </a>
    </div>
    </td>
    <td>
       <div class="project-list">
                    <a href="#" class="projects-link">
                        <img src="http://placehold.it/350x150" alt="">
                    </a>
        </div> 
    </td>
    </tr>
    <tr>
    <td>
    <div class="project-list">
        <a href="#" class="projects-link">
            <img src="http://placehold.it/350x150" alt="">
        </a>
    </div>
    </td>
    <td>

<div class="project-list">
    <a href="#" class="projects-link">
        <img src="http://placehold.it/350x150" alt="">
    </a>
</div> 
    </td>
    <td>
                        
    <div class="project-list">
        <a href="#" class="projects-link">
        <img src="http://placehold.it/350x150" alt="">
        </a>
    </div>     
    </td>
    </tr>
    </table>
    </section>

<!-- Contact -->
        <section id="contact">
            <div class="containter">
            <h2> Contact Me </h2>
            <hr>
            <a href="http://www.facebook.com">
<%=image_tag('facebook.png')%>
            </a> 

            <a href="http://www.twitter.com">
                <%=image_tag('twitter.png')%>

            </a> 

            <a href="http://www.linkedin.com">
<%=image_tag('linkedin.png')%>
            </a> 


            </div>
        </section>



   
 </body>   

 <%= render "layouts/footer" %>
 
</html>