<%= form_for @project do |p| %>

	<p>
	<%= p.label :name %> <br>
	<%= p.text_field :name %>
	</p>

	<p>
	<%= p.label :description %> <br>
	<%= p.text_area :description %>
	</p>

	

	<p><h2>Add listing:</h2></p>
	<% if !@skill.blank? %>
		<% for item in @skill %>
			<%= item.id %>
			<%= link_to item.name, listings_path(:project_id => @project.id, :skill_id => item.id)  %>
			<br>
		<% end %>
	<% end %>

	<p> Have a Skill you don't see here?
		<%= link_to "Add one", new_skill_path %>

	<p><%= p.submit %> </p>

<%end%>