<!DOCTYPE html>

<!DOCTYPE html>

<html>

    <head>
<%= stylesheet_link_tag "projects" %>
        <meta charset="UTF-8">
        <link href="skillfish_layout.css" type="text/css" rel="stylesheet" />

        <!--<link href="skillfish_layout.css" type="text/css" rel="stylesheet" />--!>
=======
        <!--<link href="skillfish_layout.css" type="text/css" rel="stylesheet" />-->

        <title>Projects: Skillit</title>

    </head>



    <body>

        <!-- Header Section - - - - - - - - - - - - - - - - - - - -->

    <%= render "layouts/navbar" %>

        <div id="content">

        <!-- 1/4 + 1/2 + 1/4 length -->

            <div class="box column-quarter-1">

            </div>

            <div class="box column-half-1">

 <!-- all content is found in this div -->

            <div id="header">


<h2>View all projects</h2>

<% @project.each do |p| %>
	<p>
		<center><%= link_to 'Name', project_path(p) %>: <%= p.name %><br></center>
		<center>About: <%= p.description %> <br></center>
		<center>status: <%= p.status %> <br></center>

		

	</p>

<% end %>
</div>

<div class = "box column-quarter-4">
</div>
</body>
</html>