<!DOCTYPE html>

<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <link href="skillfish_layout.css" type="text/css" rel="stylesheet" />

        <!--<link href="skillfish_layout.css" type="text/css" rel="stylesheet" />--!>
=======
        <!--<link href="skillfish_layout.css" type="text/css" rel="stylesheet" />-->

        <title>Projects: Skillfish</title>

    </head>



    <body>



        <!-- Header Section - - - - - - - - - - - - - - - - - - - -->

        <div class = "header">
        <div class ="container">

            <div class ="logo">
                <%=image_tag('skillit-logo.png') %>              
               
            </div>

                <div class ="search">
                    <form action=""> 
                    <input type="text" id="search" placeholder="Search Skill, Project, or Name.."/>
                    </form>
                </div>


                    <div class="nav">
                    <ul>
                        <li><%= link_to 'Home', root_path %> </li>
                        <li><%= link_to "Projects", projects_path %>  </li>
                        <li><%= link_to 'New Project', new_project_path %></li>
                        <li><a href="#">LogOut</a></li>
                    </ul>   
                    </div>
        </div>
    </div>

        

    <div id="content">

        <!-- 1/4 + 1/2 + 1/4 length -->

            <div class="box column-quarter-1">

            </div>

            <div class="box column-half-1">

 <!-- all content is found in this div -->

            <div id="header">


<h2>View all projects</h2>

<% @project.each do |p| %>
	<p>
		<center><%= link_to 'Name', project_path(p) %>: <%= p.name %><br></center>
		<center>About: <%= p.description %> <br></center>
		<center>status: <%= p.status %> <br></center>

		

	</p>

<% end %>
</div>

<div class = "box column-quarter-4">
</div>
</body>
</html>