<!DOCTYPE html>

<!DOCTYPE html>

<html>

    <head>
        <%= stylesheet_link_tag "projects" %>
        <meta charset="UTF-8">
        <title>Edit a Project: Skillfish</title>
    </head>

    <body>

        <%= render "layouts/navbar" %>

        <!-- Header Section - - - - - - - - - - - - - - - - - - - -->


        <div id="content">

            <!-- 1/4 + 1/2 + 1/4 length -->

            <div class="box column-quarter-1">
            </div>

            <div class="box column-half-1">

            <!-- all content is found in this div -->

            <div id="header">

                <center><h1>Make New Project<h1></center>

                <%= form_for @project do |p| %>
                <br></br>

            	<p>
            	<center><strong><%= p.label :name %> <br></strong></center>
            	<center><%= p.text_field :name %></center>
            	</p>

                <p>
                <center><strong><%= p.label :description %> <br></strong></center>
                <center><%= p.text_area :description %></center>
                </p>

            	<center><strong>Start project as <%= current_user.first_name %></p></center>


            	<p>

                <!-- SKILLS ENTRY PARTIALIZE -->  
            	<h2>Skills needed:</h2>
                <br></br>
                <center>MY SKILLS:</center>
                 <% if !@listings.blank? %>
                    <% for item in @listings %>
                      <center><%= item.skill_id %></center>
                      <br>
                    <% end %>
                  <% end %>




                  <br></br>
                  <center>ADD SKILLS:</center>

                  <% if !@skill.blank? %>
                    <% for item in @skill %>
                        <center><%= item.id %>
                        <%= link_to item.name, listings_path(:project_id => @project.id, :skill_id => item.id)  %></center>
                        <br>
                    <% end %>
                  <% end %>


            	</p>

            	
            	<center><%= p.submit %> </center>

                <%end%>
            </div>

            <div class = "box column-quarter-4">
            </div>

</body>

<footer>

    <%= render "layouts/footer" %>

 </footer>

</html>