<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">

        <link href="skillfish_layout.css" type="text/css" rel="stylesheet" />

        <title>Projects: Skillfish</title>

    </head>



    <body>



        <!-- Header Section - - - - - - - - - - - - - - - - - - - -->

        <div id="nav">

            <div id="logo"><h1>Logo</h1></div>

            <div id="searchbar"><h1>Search</h1></div>

        </div>

        

    <div id="content">

        <!-- 1/4 + 1/2 + 1/4 length -->

            <div class="box column-quarter-1">

                <p>Column One</p>

            </div>

            <div class="box column-half-1">

 <!-- all content is found in this div -->

            <div id="header">

            <h1><%= @project.name %></h1>

            <%= image_path("Puppy_2.jpg")  %>

        </div>

        

        <div id="content_upper">

        <p></p>

        </div>

        

        <div id="content_lower">

        <!-- 2/3 + 1/3 length -->

            <div class="box column-two-thirds-1">

                <div id="content_upper1">

                <p>Summary</p>

                </div>

                <div id="content_lower1">

                <p>More content</p>

                </div>

            </div>

            <div class="box column-third-3">

                <div id="content_upper2">

                <p>Picture</p>

                </div>

                <div id="content_lower2">

                <p>More content</p>

                </div>

            </div>

        </div>    

            </div>

            <div class="box column-quarter-4">

                <p>Column Three</p>

            </div>

        

     </div>



    </body>

<p> <b><%= @project.name %> </b><br>
 <p> <%= @project.description %> </p>

<p><%= link_to "Edit", edit_project_path(@project) %>
</p>
<%= link_to "Back", projects_path %> 


</html>

