<!DOCTYPE html>

<html>
<%= stylesheet_link_tag "projects" %>
    <head>

        <meta charset="UTF-8">
        <link href="skillfish_layout.css" type="text/css" rel="stylesheet" />

        <!--<link href="skillfish_layout.css" type="text/css" rel="stylesheet" />--!>
=======
        <!--<link href="skillfish_layout.css" type="text/css" rel="stylesheet" />-->

        <title>Setting: Skillit</title>

    </head>



    <body>
        <!-- Header Section - - - - - - - - - - - - - - - - - - - -->

    <%= render "layouts/navbar" %> 

    <div id="content">

        <!-- 1/4 + 1/2 + 1/4 length -->

            <div class="box column-quarter-1">

            </div>

            <div class="box column-half-1">

 <!-- all content is found in this div -->

            <div id="header">
<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
<div class = "box column-quarter-4">
</div>
</body>
</html>
