<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "navbar" %>
</head>
<body>

<div class = "header">
            <div class ="container">
                
                <div class ="logo">
                    <%= link_to image_tag('skillit-logo.png'), projects_path %>          
                </div>

                <div class ="search">
                    <form action=""> 
                    <input type="text" id="search" placeholder="Search Skill, Project, or Name.."/>
                    <button type="submit" id ="submit">Search</button> 
                    </form>
                </div>


                <div class="nav">
                    <ul>
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to 'New Project', new_project_path %></li>
                        <li><%= link_to "Settings", edit_user_registration_path%></li>
                        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>

                    </ul> 
 
                </div>
            </div>
        </div>

</body>
</html>
