<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "navbar" %>
</head>
<body>

<div class = "header">
            <div class ="container">
                
                <div class ="logo">
                    <%= link_to image_tag('skillit-logo.png'), root_path %>          
                </div>

                <div class ="search">
                    <form action=""> 
                    <input type="text" id="search" placeholder="Search Skill, Project, or Name.."/>
                    <button type="submit" id ="submit">Search</button> 
                    </form>
                </div>


                <% if !user_signed_in? %>
                    <div class="nav">
                        <ul>
                            
                            <li><%= link_to 'New Project', new_project_path %></li>
                            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                            <li><%= link_to 'Log In', new_user_session_path %></li>
                        </ul> 
                    </div>

                <% elsif %>
                    <div class="nav">
                        <ul>
                            <li><%= link_to "Profile", current_user %></li>
                            <li><%= link_to 'New Project', new_project_path %></li>
                            <li><%= link_to "Settings", edit_user_registration_path%></li>
                            <li><%= link_to 'Logout', destroy_user_session_path(:controller => :sessions, :action => 'destroy', :id => current_user.id) , :method => 'delete' %></li>
                        </ul> 
                    </div>

                <% end %>

            </div>
        </div>

</body>
</html>
