<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %> 
  </div>

<<<<<<< HEAD
<br>
<br>
<center>
<div class="content">
  <div id="email">
  <h1>Almost done!</h1>
    <br>
    <h2>Enter your desired login Email</h2>
    <h3>(Ithaca.edu email required)</h3>

      <input class="email-textbox" type="email" required>
      <button type="submit" class="pure-button pure-button-primary"><a href="#password">Next</button> </a>
=======
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %> 
  </div>
>>>>>>> parent of 544ae9c... LandingPage

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
